@model Banco_II.Models.Subject
@{
    ViewData["Title"] = "Editar Matéria";
}

<h1>Editar Matéria</h1>

<form asp-action="EditSubject">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="CourseID" />
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<div>
    <a asp-action="Subjects" asp-route-courseId="@Model.CourseID">Voltar para Matérias</a>
</div>